@keyframes orbit1 {
	from {
		transform: rotate(0deg) 
		translateX(calc(var(--orbit-width)*0.5)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*0.5)) rotate(360deg);
	}
  }
  @keyframes orbit2 {
	from {
	  transform: rotate(0deg) 
	  translateX(calc(var(--orbit-width)*0.75)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*0.75)) rotate(360deg);
	}
  }
  @keyframes orbit3 {
	from {
	  transform: rotate(0deg) 
		  translateX(calc(var(--orbit-width)*1)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*1)) rotate(360deg);
	}
  }
  @keyframes orbit4 {
	from {
	  transform: rotate(0deg) 
		  translateX(calc(var(--orbit-width)*1.25)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*1.25)) rotate(360deg);
	}
  }
  @keyframes orbit5 {
	from {
	  transform: rotate(0deg) 
		  translateX(calc(var(--orbit-width)*1.5)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*1.5)) rotate(360deg);
	}
  }
  @keyframes orbit6 {
	from {
	  transform: rotate(0deg) 
	  translateX(calc(var(--orbit-width)*1.75)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*1.75)) rotate(360deg);
	}
  }
  @keyframes orbit7 {
	from {
	  transform: rotate(0deg) 
		  translateX(calc(var(--orbit-width)*2)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*2)) rotate(360deg);
	}
  }
  @keyframes orbit8 {
	from {
	  transform: rotate(0deg) 
		  translateX(calc(var(--orbit-width)*2.25)) rotate(0deg);
	}
  
	to {
		transform: rotate(-360deg) 
		translateX(calc(var(--orbit-width)*2.25)) rotate(360deg);
	}
  }
  @keyframes rotate {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes rotateReverse {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes moveAsteroid {
	from {
	  transform: translate(0, 0);
	}
	to {
	  transform: translate(-100vw, 60vh);
	}
  }
  @keyframes brightnessAnimationSun {
	0% {
		filter: brightness(70%);
	}
	50% {
		filter: brightness(78%);
	}
	100% {
		filter: brightness(70%);
	}
}